@charset "utf-8";

/* 共通 */
html,body{
  font-size: 16px;
  font-family: sans-serif;
  color: #393939;
  background-color: #efefef;
}

body,div,p,h1,h2,h3,h4,ul,figure{
  margin: 0;
  padding: 0;
}

p,td,th,li{
  line-height: 1.8;
}

img{
  width: 100%;
  height: auto;
}

a{
  color: #709a00;
}

a:hover{
  color: #95cd00;
}

a:active{
  color:#4b6700;
}

.img_responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
}

/* PC用のcontainer */
@media screen and (min-width: 768px){
  .container{
    padding: 0 20px;
  }
}

/* 見出し */
main h1{
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 1.6rem;
}

/* header */
header{
  background-color: #c84040; 
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  padding: 10px 0;
  width: 160px;
  height: 37px;
}

.header-logo a{
  display: block;
}

.menu-btn{
  width: 40px;
  height: 40px;
  border: #ffffff solid 1px;
  border-radius: 3px;
  background: url(../images/hamburger.png) no-repeat center center;
  background-size: contain;
}
/* PC向けレイアウト */
@media screen and (min-width: 768px){
  .menu-btn{
    display: none;
  }
  
  .header-logo{
    width: 200px;
    height: 46px;
    padding: 20px 0;
  }
}
/* nav */
nav{
  background-color: #393939;
  color: #efefef;
}

.nav-bar{
  display: none;
  list-style: none;
  justify-content: space-around;
}

.nav-bar a{
  display: block;
  text-decoration: none;
  color: #efefef;
  padding: 0.6em;
}

.nav-bar a:hover{
  background: #c84040;
}

.nav-bar a.nav-current{
  background: #c84040;
}

/* PC用のレイアウト */
@media screen and (min-width: 768px){
  .nav-bar{
    display: flex;
  }
}

/* main */
main{
  background-color: #efefef;
  padding: 50px 0;
}

.main-heading{
  font-size: 1.3rem;
  color: #c84040;
  margin: 10px;
  padding: 10px 0;
  border-bottom: dashed 1px #c84040;
}

/* footer */
footer{
  background-color: #c84040;
  font-size: 0.9rem;
}

.footer-nav{
  display: flex;
  list-style: none;
  padding: 1em 0 0 0;
}

.footer-nav a{
  display: block;
  color: #efefef;
  text-decoration: none;
  padding: 0 1rem 0 0;
}

.footer-nav a:hover{
  opacity: 0.5;
}

.footer-copyright{
  color: #efefef;
  padding-bottom: 20px;
}

/* home main */

.home-maincopy{
  text-align: center;
  font-size: 1.4rem;
}

@media screen and (min-width: 768px){
  .home-maincopy{
    font-size: 2.4rem;
  }
}

.home-news{
  border: solid 1px #efefef;
  border-radius: 8px;
  padding: 30px;
  margin: 10px;
  background: #ffffff;
}

.home-course{
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  list-style: none;
}

/* PC用レイアウト */
@media screen and (min-width: 768px){
  .home-course{
    flex-flow: row;
  }
}

.home-course li{
  padding: 10px;
  border: solid 5px #efefef;
  background: #ffffff;
}
.home-course a{
  color: #393939;
  text-decoration: none;
}

.home-course figure:hover{
  opacity: 0.5;
}

.home-course figcaption{
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 15px 0;
}

/* コース紹介 */

.course-container{
  display: flex;
  flex-flow: column;
}

@media screen and (min-width: 768px){
  .course-container{
    flex-flow: row;
  }
  .course-image-container{
    flex: 1 1 400px;
  }
  .course-text-container{
    flex: 1 1 580px;
  }
}

.course-image{
  border: solid 1px #efefef;
  border-radius: 40px;
}

.course-speclist{
  list-style: none;
}

.course-label{
  display: inline-block;
  padding: 0.1rem 0.5rem;
  color: #efefef;
  font-size: 0.7rem;
  margin-right:5px;
  background: #c84040;
  border: solid 1px #c84040;
  border-radius: 3px;
}

.course-description{
  padding: 30px;
  background: #ffffff url(../images/point.png) no-repeat;
  background-size: 50px 50px; 
  border: solid 1px #ffffff;
  border-radius: 8px;
}

.course-schedule{
  border-collapse: collapse;
}

.course-schedule td, .course-schedule th{
  padding: 0.5em 1em;
  border-bottom: 1px dotted #aeaeae;
}

.course-instructer{
  overflow: hidden;
}

.course-instructer img{
  float: left;
  width: 20%;
  height: auto;
  border-radius: 50%;
}

.course-button{
  display: block;
  width: 300px;
  margin: 30px auto;
  font-size: 1.2rem;
  padding: 1rem 0;
  color: #efefef;
  text-decoration: none;
  text-align: center;
  background: #709a00;
  border-radius: 4px;
}

.course-button:hover{
  background: #95cd00;
  color: #efefef;
}

/* よくある質問 */
.qanda-heading{
  border-bottom: dashed 1px #c84040;
  padding: 0.6rem 0;
}

.qanda-list{
  list-style: none;
}

.qanda-list li{
  padding: 8px 0 0 60px;
}

.qanda-list li:nth-child(odd){
  color: #709a00;
  margin-bottom: 1rem;
  font-weight: bold;
  background: url(../images/q.png) no-repeat;
  background-size: 40px;
}

.qanda-list li:nth-child(even){
  margin-bottom: 2rem;
  background: url(../images/a.png) no-repeat;
  background-size: 40px;
}