*:focus{
  outline: none;
}

body{
  margin: 0;
}

dev{
  display: flex;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
  margin: 10px 5px;
  vertical-align: middle;
}

nav{
  display: flex;
  font-size: 12px;
}

.nav-container-left{
  justify-content: left;
  margin: 10px auto 0 20px;
}

.nav-container-right{
  justify-content: right;
  margin: 10px 20px 0 0 ;
}

.account-icon{
  width: 36px;
}

.main-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px 200px 0px;
}

.logo-img{
  scale: 100%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input#search-field{
  -webkit-appearance:none;
  height: 45px;
  width : 585px;
  margin: 20px;
  border-radius: 40px;
  border: solid #c7c7c7 1px;
  padding: 0px 50px;
  font-size: 16px;
}

.input-container{
  position: relative;
}

.search-icon-img{
  position: absolute;
  top: 30px;
  left: 40px;
}

.mic-icon-img{
  position: absolute;
  top: 30px;
  right: 40px;
}

button{
  margin: 8px;
  height: 34px;
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: #f2f2f2;
  font-size: 14px;
  color: #7b7b7b
}
button[name="search-botton"]{
  width: 115px;
}
button[name="top-result-display-button"]{
  width: 150px;
}

footer{
  margin: auto 0 0 0;
  background-color: #f2f2f2;
  color: #7b7b7b;
}

footer a{
  color: #7b7b7b;
}

footer li{
  margin: 5px 10px ;
}

span.location{
  margin: 10px 30px;
}

.footer-container-upside{
  border: solid #c7c7c7;
  border-width: 1px 0 1px 0;
}

.footer-container-downside{
  margin: 0 0 5px 0;
  font-size: 12px;
}

.footer-container-downside-left{
  justify-content: left;
  margin-left: 20px;
}

.footer-container-downside-right{
  justify-content: right;
  margin-left: auto;
  margin-right: 20px;
}